################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ITI.What'sLearn/ITI.WhatsLearn.Presentation/Uploads
