################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/What-s-Learn-Back-End/What'sLearn/ITI.What'sLearn/.vs/ITI.What'sLearn/v15
